{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7 d-flex flex-column justify-content-center align-items-center">
				<p class="text-danger mb-3">hello world</p>
				<div>
					<h1>Michael<br>Walenciak</h1>
				</div>
				<div class="d-flex gap-5 mt-5 mb-5">
					<div class="btn btn-white fw-bold border border-secondary border-2 px-5">Linkedin<svg class="ms-1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewbox="0 0 30 30">
							<path d="M24,4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18c1.105,0,2-0.895,2-2V6C26,4.895,25.105,4,24,4z M10.954,22h-2.95 v-9.492h2.95V22z M9.449,11.151c-0.951,0-1.72-0.771-1.72-1.72c0-0.949,0.77-1.719,1.72-1.719c0.948,0,1.719,0.771,1.719,1.719 C11.168,10.38,10.397,11.151,9.449,11.151z M22.004,22h-2.948v-4.616c0-1.101-0.02-2.517-1.533-2.517 c-1.535,0-1.771,1.199-1.771,2.437V22h-2.948v-9.492h2.83v1.297h0.04c0.394-0.746,1.356-1.533,2.791-1.533 c2.987,0,3.539,1.966,3.539,4.522V22z"></path>
						</svg>
					</div>
					<div class="btn btn-white fw-bold border border-secondary border-2 px-5">Github<svg class="ms-1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewbox="0 0 50 50">
							<path d="M17.791,46.836C18.502,46.53,19,45.823,19,45v-5.4c0-0.197,0.016-0.402,0.041-0.61C19.027,38.994,19.014,38.997,19,39 c0,0-3,0-3.6,0c-1.5,0-2.8-0.6-3.4-1.8c-0.7-1.3-1-3.5-2.8-4.7C8.9,32.3,9.1,32,9.7,32c0.6,0.1,1.9,0.9,2.7,2c0.9,1.1,1.8,2,3.4,2 c2.487,0,3.82-0.125,4.622-0.555C21.356,34.056,22.649,33,24,33v-0.025c-5.668-0.182-9.289-2.066-10.975-4.975 c-3.665,0.042-6.856,0.405-8.677,0.707c-0.058-0.327-0.108-0.656-0.151-0.987c1.797-0.296,4.843-0.647,8.345-0.714 c-0.112-0.276-0.209-0.559-0.291-0.849c-3.511-0.178-6.541-0.039-8.187,0.097c-0.02-0.332-0.047-0.663-0.051-0.999 c1.649-0.135,4.597-0.27,8.018-0.111c-0.079-0.5-0.13-1.011-0.13-1.543c0-1.7,0.6-3.5,1.7-5c-0.5-1.7-1.2-5.3,0.2-6.6 c2.7,0,4.6,1.3,5.5,2.1C21,13.4,22.9,13,25,13s4,0.4,5.6,1.1c0.9-0.8,2.8-2.1,5.5-2.1c1.5,1.4,0.7,5,0.2,6.6c1.1,1.5,1.7,3.2,1.6,5 c0,0.484-0.045,0.951-0.11,1.409c3.499-0.172,6.527-0.034,8.204,0.102c-0.002,0.337-0.033,0.666-0.051,0.999 c-1.671-0.138-4.775-0.28-8.359-0.089c-0.089,0.336-0.197,0.663-0.325,0.98c3.546,0.046,6.665,0.389,8.548,0.689 c-0.043,0.332-0.093,0.661-0.151,0.987c-1.912-0.306-5.171-0.664-8.879-0.682C35.112,30.873,31.557,32.75,26,32.969V33 c2.6,0,5,3.9,5,6.6V45c0,0.823,0.498,1.53,1.209,1.836C41.37,43.804,48,35.164,48,25C48,12.318,37.683,2,25,2S2,12.318,2,25 C2,35.164,8.63,43.804,17.791,46.836z"></path>
						</svg>
					</div>
					<div class="btn btn-white fw-bold border border-secondary border-2 px-5">Twitter<svg class="ms-1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewbox="0 0 50 50">
							<path fill="black" d="M 50.0625 10.4375 C 48.214844 11.257813 46.234375 11.808594 44.152344 12.058594 C 46.277344 10.785156 47.910156 8.769531 48.675781 6.371094 C 46.691406 7.546875 44.484375 8.402344 42.144531 8.863281 C 40.269531 6.863281 37.597656 5.617188 34.640625 5.617188 C 28.960938 5.617188 24.355469 10.21875 24.355469 15.898438 C 24.355469 16.703125 24.449219 17.488281 24.625 18.242188 C 16.078125 17.8125 8.503906 13.71875 3.429688 7.496094 C 2.542969 9.019531 2.039063 10.785156 2.039063 12.667969 C 2.039063 16.234375 3.851563 19.382813 6.613281 21.230469 C 4.925781 21.175781 3.339844 20.710938 1.953125 19.941406 C 1.953125 19.984375 1.953125 20.027344 1.953125 20.070313 C 1.953125 25.054688 5.5 29.207031 10.199219 30.15625 C 9.339844 30.390625 8.429688 30.515625 7.492188 30.515625 C 6.828125 30.515625 6.183594 30.453125 5.554688 30.328125 C 6.867188 34.410156 10.664063 37.390625 15.160156 37.472656 C 11.644531 40.230469 7.210938 41.871094 2.390625 41.871094 C 1.558594 41.871094 0.742188 41.824219 -0.0585938 41.726563 C 4.488281 44.648438 9.894531 46.347656 15.703125 46.347656 C 34.617188 46.347656 44.960938 30.679688 44.960938 17.09375 C 44.960938 16.648438 44.949219 16.199219 44.933594 15.761719 C 46.941406 14.3125 48.683594 12.5 50.0625 10.4375 Z"></path>
						</svg>
					</div>
					<div class="btn btn-white fw-bold border border-secondary border-2 px-5">Contact<svg class="ms-1" version="1.0" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 1280.000000 780.000000" preserveaspectratio="xMidYMid meet">

							<g transform="translate(0.000000,780.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
								<path d="M576 7752 c38 -27 1235 -847 2659 -1822 1425 -975 2723 -1865 2887
																																				-1977 163 -111 299 -203 303 -203 4 0 141 91 304 203 163 112 1475 1010 2916
																																				1997 1441 986 2638 1806 2659 1822 l40 28 -5919 0 -5919 0 70 -48z"/>
								<path d="M2 3764 l3 -3499 27 -55 c35 -71 107 -143 178 -178 l55 -27 6135 0
																																6135 0 55 27 c71 35 143 107 178 178 l27 55 3 3483 c1 1915 0 3482 -3 3482 -3
																																0 -549 -372 -1213 -827 -664 -454 -1949 -1335 -2857 -1956 -907 -622 -1740
																																-1192 -1850 -1267 -110 -76 -209 -142 -220 -147 -11 -6 -62 -22 -113 -37 -119
																																-33 -206 -34 -283 -3 -31 13 -283 179 -560 369 -277 189 -1411 966 -2519 1725
																																-2827 1936 -3121 2137 -3153 2157 l-27 18 2 -3498z"/>
							</g>
						</svg>
					</div>
				</div>
				<div class="mt-5">
					<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewbox="0 0 1280.000000 1280.000000" preserveaspectratio="xMidYMid meet">
						<g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
							<path d="M314 12790 c-195 -41 -335 -242 -309 -445 6 -51 383 -811 3040 -6125
																					2901 -5801 3036 -6069 3082 -6110 61 -54 157 -99 231 -106 118 -13 258 40 334
																					125 31 35 771 1508 3070 6106 2924 5849 3029 6062 3035 6126 15 173 -76 326
																					-237 403 -59 27 -74 30 -160 30 -79 -1 -104 -5 -150 -26 -30 -13 -1359 -894
																					-2953 -1956 l-2897 -1932 -2897 1932 c-1594 1062 -2923 1942 -2953 1956 -61
																					27 -168 37 -236 22z"/>
						</g>
					</svg>
				</div>
			</div>
			<div class="col-md-5 d-flex justify-content-end">
				<img class="img-fluid h-75" src="{{ asset('/build/images/mikecv.232637bb.jpg') }}" alt="">
			</div>
		</div>
		<div class="column xl-12">

			<div class="section-header" data-num="01">
				<h2 class="text-display-title">About Me.</h2>
			</div>
			<!-- end section-header -->

			<p class="attention-getter">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas explicabo id debitis cupiditate cumque, error quia! Debitis cupiditate ipsa nihil labore, earum atque dolor quos saepe vero inventore, odit nam deleniti accusantium omnis mollitia consequatur harum incidunt! Ex modi aut repudiandae doloremque commodi recusandae labore sit. Perspiciatis omnis dolor dolores fuga iusto, recusandae animi nisi consequuntur exercitationem id maxime earum pariatur voluptas! Porro non quos quae tempora fuga quis sequi minus sed sint debitis reiciendis, nostrum natus suscipit iusto odio.
			</p>

			<p class="attention-getter">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit. Ut enim ad minim
			</p>

			<div class="grid-list-items s-about__blocks">

				<div class="grid-list-items__item s-about__block">
					<h4 class="s-about__block-title">Experience</h4>
					<ul class="s-about__list">
						<li>
							Spotify
							<span>Product Designer</span>
						</li>
						<li>
							Dropbox
							<span>Interface Developer</span>
						</li>
						<li>
							Google
							<span>Lead UI Designer</span>
						</li>
						<li>
							Figma
							<span>UI Designer</span>
						</li>
						<li>
							Microsoft
							<span>UI Designer</span>
						</li>
					</ul>
				</div>
				<!--end s-about__block -->

				<div class="grid-list-items__item s-about__block">
					<h4 class="s-about__block-title">Awards</h4>

					<ul class="s-about__list">
						<li>
							<a href="#0">
								Site Of The Month
								<span>Awwwards — 2023</span>
							</a>
						</li>
						<li>
							<a href="#0">
								Site Of The Day
								<span>Awwwards — 2023</span>
							</a>
						</li>
						<li>
							<a href="#0">
								Agency of The Year
								<span>Awwwards — 2022</span>
							</a>
						</li>
						<li>
							<a href="#0">
								FWA of The Month
								<span>FWA — 2022</span>
							</a>
						</li>
						<li>
							<a href="#0">
								Site Of The Month
								<span>Awwwards — 2022</span>
							</a>
						</li>
					</ul>
				</div>
				<!--end s-about__block -->

				<div class="grid-list-items__item s-about__block">
					<h4 class="s-about__block-title">Skills</h4>

					<ul class="s-about__list">
						<li>
							Product Design
						</li>
						<li>
							UI/UX Design
						</li>
						<li>
							Prototyping
						</li>
						<li>
							Frontend Development
						</li>
						<li>
							Illustration
						</li>
						<li>
							Visual Design
						</li>
					</ul>
				</div>
				<!--end s-about__block -->

			</div>
			<!-- grid-list-items -->

		</div>
	</div>

{% endblock %}
